<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem libero asperiores repellendus perspiciatis tempore eos non in, fuga laboriosam pariatur dicta facilis recusandae iure itaque temporibus rem, vero ex ad vitae veritatis dolore, consequuntur obcaecati. Minima exercitationem alias soluta atque dolores molestias odit et ducimus doloribus aliquam, perferendis, dolorum quisquam officiis impedit, illum fuga magnam fugiat blanditiis asperiores officia! Odit explicabo at itaque sit mollitia, totam exercitationem nostrum a nihil maxime laboriosam dolores accusamus amet vitae. Deleniti, repellat, minima atque aliquid eos asperiores ea laudantium sit minus quo ullam, tenetur praesentium provident saepe. Laudantium nulla quod nisi est eligendi ad corporis officiis tempore molestias blanditiis, dolor veritatis aspernatur fugiat autem, expedita ullam soluta, repellendus dolorem porro consectetur maxime dicta enim quidem deserunt. Aperiam quisquam ut, nesciunt laboriosam expedita culpa? Ipsum quae officia amet fugit nulla illum, cumque reiciendis debitis dolores nemo quasi suscipit temporibus eum quibusdam ipsa dolore vitae aspernatur ex omnis vel. Adipisci, ipsa saepe soluta voluptatum debitis possimus quos tenetur perspiciatis, accusamus, laudantium facere. A deleniti ex natus tempora distinctio esse suscipit placeat maxime obcaecati excepturi! Officiis ipsum, vitae sapiente dolores nulla labore perferendis quidem tenetur minus incidunt sunt doloribus sint explicabo aspernatur tempora delectus similique rerum quibusdam?</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>